      /* ---font----- */
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
     
      /* common styles and utilities */
      
      body{
        font-family: 'Poppins', sans-serif;
       }
       *{
         margin: 0;
         padding: 0;
       }
      
       .container{
         width: 2000px;
          max-width: 100%; 
         margin: 0,auto;
       }

       /* --------top header part------- */
   .top-header{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     display:flex;
     justify-content:right;
     width:1599px;
     height:900px;
     background: #2D25A0;
    
     place-items: center;
   }
   .heading-part h1{
     display: grid;
     
     width:485px ;
     height:230px;
     font-style: normal;
     color: #FFFFFF;
     font-weight: bold;
     padding-top: 207px;
     margin-left: 156px;
     line-height: 80px;
     font-size: 64px;
   }
   .heading-button
   {
    justify-content:space-evenly;
    text-align: center;
    width: 200px;
    height: 50px;
    border: 1px solid rgb(182, 144, 75);
   
    flex-direction:row;
    margin-top: 10px;
    margin-left:156px;
    padding: 15px 20px;
    background: #E02C6D;
    font-size: 15px;
   
    color: #FFFFFF;

   }
   .heading-button:hover{
     transform: scale(1.5);
     background-color: darkolivegreen;
   }
   .heading-pic{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
    margin-top: 153px;
   }
   .heading-pic img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 556.01px;
    height: 438px;
    transition: width 5s;


   }
   .heading-pic img:hover{
     width:600px;
   }

  /* -----------player Name styles-------  */
  .players{
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:2px;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-right: 140px;
    margin-left: 140px;
  }
  .player{
    width: 330px;
    height: 456px;
    margin: 16px 0px;
    margin-top:20px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
.player img{
  width:300px;
  height:256px;
}
 /* ----------footer style---------- */
.footer-football{
  display: grid;
  justify-content:center;
  text-align:center;
}
.icon h5{
  padding: 15px;
  font-weight:700px ;
}
.icon-style{
  font-size:20px;
  padding:10px;
  box-shadow: 5px 5px 10px darkgrey;
  border-radius:10px;
}
/* ------------bonous part stylish---------- */
.partnership{
  width: 1500px;
  height:220px;
}
.partnership h4{
  font-size:20px;
  margin-left: 20px;
  font-family: sans-serif;
}
.partnership-company{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
  padding-left:30px;
  margin-top:30px;
}
.partnership-company img{
  width:150px;
  height:100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog{
  width:100%;
  height:300px;
  justify-content:center;
  background-color: #1b1933;
  text-align:center;
  flex-direction:row;
  border:1px solid red;
  margin-bottom: 20px;
}
.blog h4{
  font-size:20px;
  font-weight:bold;
  padding-left: 100px;
  color:#FFFFFF;
}
.player-found{
  
    width: 200px;
    height: 50px;
    border: 1px solid rgb(182, 144, 75);
   
    margin-top: 10px;
    margin-left:156px;
    padding: 15px 20px;
    background: #E02C6D;
    font-size: 15px;
   
    color: #FFFFFF;
    margin-bottom: 80px;
    border-radius: 10px;
}
player-found:hover {
  transform: scale(.9);
  background-color: #1b1933;
}
ul{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  padding-left: 30px;
  margin-left:80px;
}
li,a{
  text-decoration: none;
  list-style-type: none;
  margin:10px;
  padding:10px;

}
li:hover {
  transform:scale(1,0.5);
  background-color:aquamarine;
 
}
       /* ----------------
        media querys
    =------------------- */
    /* ======Mobile Device======= */
    @media only screen and (max-width:688px) {

     .container{
        width:100%;
      }
      .top-header,.players,.partnership,.blog,.footer-football{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        background-color: red;
      
      }
      .partnership{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
      .top-header{
        display: block;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
      }
    }